/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  padding: 20px;
  margin-top: 64px; /* to offset the fixed header */
}
